<div class="popup-map">
   <%= link_to game_path(game) do %>
    <div class="card-map-flex">
      <h5><%= "#{game.name}" %></h5>
      <h5><%= "#{game.price}€/day" %></h5>
    </div>
    <p><%= "#{game.location}" %></p>
    <%= cl_image_tag game.photo.key, height: 150, width: 200, crop: :scale %>
    <% end %>
</div>
