<!DOCTYPE html>
<html>
  <head>
    <title>RailsGamesMaster</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <%= favicon_link_tag asset_path('lewagon-logo-black.png') %>
  </head>

  <body>

    <div class="navbar bg-white d-flex justify-content-between sticky-top">
      <div class="container">
        <h3 class="mb-0"> <%= link_to "G|M", root_path %></h3>

        <div class="search-form">
          <%= form_tag games_path, method: :get, class:'d-flex justify-content-center align-items-center' do %>
              <%= text_field_tag :query, params[:query], class: "form-input", placeholder: "Search a game" %>
              <button type="submit" class="btn-form">
                <i class="fas fa-search"></i>
              </button>
          <% end %>
        </div>

        <div class="avatar">
          <div class="dropdown">
            <% if user_signed_in? && current_user.avatar.attached? %>
              <%= cl_image_tag current_user.avatar.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false, alt: "avatar" %>
            <% else %>
              <%= image_tag "https://www.pinclipart.com/picdir/middle/200-2008697_account-customer-login-man-user-icon-login-icon.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false, alt: "avatar"%>
            <% end %>
            <div class="dropdown-menu dropdown-menu-right text-center" aria-labelledby="navbarDropdown">
              <% if user_signed_in? %>
                <%= link_to "Post a game", new_game_path, class: "btn btn-dropdown" %>
                <%= link_to "Dashboard", dashboard_path, class: "btn btn-dropdown" %>
                <%= link_to "Logout", destroy_user_session_path, class: "btn btn-dropdown logout", method: :delete %>
              <% else %>
                <%= link_to "Login", new_user_session_path, class: "btn login" %>
                <%= link_to "Sign up", new_user_registration_path, class: "btn btn-dropdown" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% if notice.present? %>
      <div class="alert alert-primary alert-dismissible fade show mb-0 b-0" role="alert">
        <%= notice %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>
    <%= yield %>

    <div class="footer">
      <%= link_to 'https://github.com/mauriarmora/rails-games-master', target:"_blank" do %>
        <i class="fab fa-github"></i>
      <% end %>
      <%= link_to 'https://www.facebook.com/lewagonspain/?brand_redir=116941945171079', target:"_blank" do %>
        <i class="fab fa-facebook"></i>
      <% end %>
      <%= link_to 'https://www.instagram.com/lewagonspain/', target:"_blank" do %>
        <i class="fab fa-instagram"></i>
      <% end %>
      <%= link_to 'https://www.lewagon.com/barcelona', target:"_blank" do %>
        <%= image_tag ('lewagon-logo-black.png') %>
      <% end %>
    </div>

  </body>
</html>
